<div class="border-t border-gray-200" data-id="<%= reason.id %>">
  <div class="flex items-center">
    <i class="p-4 fa-solid fa-grip-vertical text-lg text-gray-300"></i>
    <% if reason.active %>
      <i class="py-4 px-3 fa-regular fa-eye text-lg text-blue-600"></i>
      <div class="grow">
        <%= reason.label %>
      </div>
    <% else %>
      <i class="py-4 px-3 fa-regular fa-eye-slash text-lg text-gray-400"></i>
      <div class="grow text-gray-400">
        <%= reason.label %>
      </div>
    <% end %>
    <button class="p-4 font-semibold text-blue-600" data-action="click->modal#show" data-modal-id="edit-reason-modal" data-id="<%= reason.id %>">Edit</button>
  </div>
</div>
