<div class="border-t border-gray-200 draggable reason" data-id="<%= reason.id %>">
  <div class="flex items-center">
    <i class="p-4 fa-solid fa-grip-vertical text-lg text-gray-300"></i>
    <% if reason.active %>
      <i class="py-4 px-3 fa-regular fa-eye text-lg text-blue-600"></i>
      <div class="grow">
        <%= reason.label %>
      </div>
    <% else %>
      <i class="py-4 px-3 fa-regular fa-eye-slash text-lg text-gray-400"></i>
      <div class="grow text-gray-400">
        <%= reason.label %>
      </div>
    <% end %>
    <%= link_to 'edit', storefront_reason_form_reason_path(storefront, reason), class: 'edit-action p-4 font-semibold text-blue-600',
                                                            data: { turbo_frame: 'storefront_reasons',
                                                                    turbo_stream: "true",
                                                                    modal_id: dom_id(reason)  } %>
  </div>
</div>
